<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Mr.黃先生的雜燴網，這是一個專丟有的沒的，蔣淦話的地方，
        歡迎大家來瀏覽我的網站，看一下內容，笑一下，也不錯~~"/>
        <meta name="auther" content="Mr.黃"/>
        <meta name="keywords" content="Mr.黃先生, Mr.黃先生的雜燴網, 專丟有的沒的,
        蔣淦話的地方, 歡迎大家來瀏覽我的網站，看一下內容，笑一下，也不錯~~"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="../static/css/class&id_index.css" />
    </head>
    <body>
        {% block content %}
        {# 內容 #}
        {% endblock %}
    </body>
</html>