{% extends "base.html" %}

{% block title %}
    登入 Sign in
{% endblock %}

{% block content %}
    <center class="login-font">
        <br>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            {{ form.username(placeholder = "用戶名稱") }}
            <br>
            {{ form.email(placeholder = "電子郵件") }}
            <br>
            {{ form.password(placeholder = "密碼") }}
            <br>
            {{ form.remember_time }}
            <br>
            <br>
            {#  #}
            {{ form.submit(value = "登入") }}
        </form>
    </center>
{% endblock %}